@model List<MeyawoPortfolio.Models.TblSocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Sosyal Medya Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Url</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaID</td>
            <td>@item.Title</td>
            <td>@item.SocialMediaUrl</td>
            <td><a href="/Social/DeleteSocial/@item.SocialMediaID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Social/UpdateSocial/@item.SocialMediaID" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
<a href="/Social/CreateSocial/" class="btn btn-primary">Yeni Sosyal Medya Girişi</a>


