<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/elif.jpg);"></div>
            <h3>Elif Çalış</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Dashboard/Index/"><span class="fa fa-home mr-3"></span> Dashboard </a>
        </li>
        <li class="active">
            <a href="/Default/Index/"><span class="fas fa-map-signs mr-3"></span> Siteye Git </a>
        </li>
        <li>
            <a href="~/Templates/Bilisim.pdf" download="Bilisim.pdf"><span class="fa fa-download mr-3 notif"></span> Cv'mi İndir</a>
        </li>
        <li>
            <a href="/Education/Index/"><span class="fas fa-book mr-3"></span> Eğitim Hayatım</a>
        </li>
        <li>
            <a href="/Category/Index/"><span class="far fa-edit mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span class="far fa-folder-open mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/Statistic/Index/"><span class="fas fa-chart-bar mr-3"></span>  İstatistikler</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="far fa-file-alt mr-3"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/Social/Index/"><span class="	far fa-comments mr-3"></span> Sosyal Medya</a>
        </li>
        <li>
            <a href="/Testimonial/Index"><span class="fas fa-thumbtack mr-3"></span> Referanslar</a>
        </li>
        <li>
            <a href="/Contact/Index/"><span class="far fa-envelope-open mr-3"></span> İletişim</a>
        </li>
        <li>
            <a href="#"><span class="far fa-window-close mr-3"></span> Çıkış Yap</a>
        </li>

    </ul>

</nav>
