@model MeyawoPortfolio.Models.TblTestimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Referans Güncelleme Sayfası</h2>

<form method="post">

    <label>Referans Id</label>
    <input type="text" class="table table-bordered" value="@Model.TestimonialID" name="TestimonialID" />
    <br />
    <label>Ad Soyad</label>
    <input type="text" class="table table-bordered" value="@Model.NameSurname" name="NameSurname" />
    <br />
    <label>Resim</label>
    <input type="text" class="table table-bordered" value="@Model.ImageUrl" name="ImageUrl" />
    <br />
    <label>Açıklama</label>
    <textarea rows="4" class="table table-bordered" name="Description">@Model.Description</textarea>
    <br />
    <button class="btn btn-info">Referansı Güncelle</button>
</form>